

<div class="support">
  <h3>Subheading</h3>
  <p>Tagline</p>
</div>

<div class="secondary">
  <img id="background" src="https://drive.google.com/uc?id=13fr4BhR6H2IP3GVjDvWbiQKef-tlOXCB">
</div>

<div class="discover">
  <h3>Subheading</h3>
  <button>Learn more</button>
</div>

<footer>
  
</footer>
