<div class="main">
  <h3>Heading</h3>
  <img id="background" src="https://drive.google.com/uc?id=18iMJOwO5u4DCTs3s2K7mzb0D11bJRnes">
</div>

<div class="supporting">
  <h3>Subheading</h3>
  <p>tagline</p>
  <%= link_to (raw("<button>Signup</button>")), '/signup'%>
</div>